@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

/* En v4, mejor meter base styles en @layer */
@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}